
.ng-invalid.ng-touched{
  border-color : red;
}

.error-block{
  color : red;
}
.margaddButton{
  margin-right: 1rem;
}

.margRight-1{
  margin-right: 1rem;
}
.margaddButton-5{
  margin-right: 5rem;
}

.margaddTopButton{
  margin-top: 1rem;
}

.btn-group > label[ng-reflect-btn-radio]{
  border-radius: 44px;
  padding : 0 15px;
  line-height : 30px;
}

.card-header >h1, .card-header >h2, .card-header >h3{
  color : white;
}

.card-header{
  height : 42px;
  padding : 4px 10px !important;
  background-color : #007bff !important;
}
